@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; /* Gunmetal */
  --foreground: #D7EFF3; /* Light Cyan */
  --cal-poly-green: #41B862;
  --light-cyan: #D7EFF3;
  --gunmetal: #0a0a0a;
  --royal-blue: #e92f6d;
}

body {
  background: radial-gradient(circle, #12b86a 1%, #1a5e42 15%, #141414 80%);
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

@keyframes carousel {
  0% { opacity: 0; transform: translateX(100%); }
  5% { opacity: 1; transform: translateX(0); }
  25% { opacity: 1; transform: translateX(0); }
  30% { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 0; transform: translateX(-100%); }
}

.carousel-slide {
  animation: carousel 20s infinite;
}

.carousel-slide:nth-child(1) { animation-delay: 0s; }
.carousel-slide:nth-child(2) { animation-delay: 5s; }
.carousel-slide:nth-child(3) { animation-delay: 10s; }

/* Navbar */
nav {
  background-color: var(--cal-poly-green); /* Cal Poly Green */
}

a {
  color: var(--light-cyan); /* Light Cyan */
}

a:hover {
  color: #ffffff; /* White on hover */
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
